
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/images/<%= product.imagePath %>" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <h4><%= product.name %></h4>
                </div>
                <div class="row">
                    <p><%= product.description %></p>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="dropdown mb-0">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Add to cart
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <% product.variants.forEach((item, index)=>{%>
                                        <button class="dropdown-item" type="button" onclick="addToCart('<%=item.id%>', '<%=product.id%>')"<%if(item.inStock!==true){%><%='disabled'%><%}%>>
                                            <%= item.title %>
                                        </button>
                                    <%})%>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                Price : <strong id="simbol" >$</strong> <strong class="price"><%=product.price%></strong>
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Change Currency
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item" type="button" onclick="convertCurrency('USD')">USD</button>
                                        <button class="dropdown-item" type="button" onclick="convertCurrency('EURO')">EURO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var fromCurrency = 'USD';
    var currency=0;
    function getCurrencyRate() {
        url='http://data.fixer.io/api/latest?access_key=01bdc1d1df01cdf0b7f7aa17be57cc43&symbols=USD&format=1';
        let xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                if (xmlhttp.status === 200) {
                    let jsonObj = JSON.parse(xmlhttp.response);
                    currency =parseFloat(jsonObj['rates']['USD']);
                }
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
    getCurrencyRate();
    function convertCurrency(  toCurrency) {
        if (toCurrency !== fromCurrency) {
            let amount = parseInt(document.getElementsByClassName('price')[0].innerText);
            if(fromCurrency==='EURO') {
                document.getElementsByClassName('price')[0].innerHTML = Math.round(amount * currency);
                document.getElementById('simbol').innerHTML = '$';
            }
            else {
                document.getElementsByClassName('price')[0].innerHTML = Math.round(amount / currency);
                document.getElementById('simbol').innerHTML = '\u20AC';
            }
            fromCurrency=toCurrency;
        }
    }
    function addToCart(variationID, productID) {
        <%if(!logged){%>
            alert('Please login firest');
       <%}else {%>
        url='/cart/add';
        let xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                console.log(JSON.parse(xmlhttp.response));
            }
        };
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({ productID:productID, variantID:variationID}));
        <%}%>
    }

</script>