

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/images/<%= product.imagePath %>" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <h4><%= product.name %></h4>
                </div>
                <div class="row">
                    <p><%= product.description %></p>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="dropdown mb-0">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Variants
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                       <% product.variants.forEach((item, index)=>{%>
                                        <div class="dropdown-item">
                                            <%= item.title %>
                                            <button  class="btn btn-warning" type="button" onclick="addTo('cart','<%=item.id%>', '<%=product.id%>')"<%if(item.inStock!==true){%><%='disabled'%><%}%>>To Cart</button>
                                            <button class="btn btn-info" type="button" onclick="addTo('wishlist','<%=item.id%>', '<%=product.id%>')"<%if(item.inStock!==true){%><%='disabled'%><%}%>>To Wish List</button>
                                        </div>
                                        <%})%>
                                    </div>
                                    <input type="number" id="quantity" name="quantity" min="1" max="5">

                                </div>
                            </div>
                            <div class="col-sm">
                                Price : <strong id="simbol" >$</strong> <strong class="price"><%=product.price%></strong>
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Change Currency
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item" type="button" onclick="convertCurrency('USD')">USD</button>
                                        <button class="dropdown-item" type="button" onclick="convertCurrency('EURO')">EURO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addTo(type,variationID, productID) {
        <%if(!logged){%>
        alert('Please login first');
        <%}else {%>
        let setQuantity= document.getElementById("quantity").value;
        if(setQuantity==='')
            setQuantity=1;
        else setQuantity=(parseInt(setQuantity));
        url='/'+type+'/add';
        let xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                console.log(JSON.parse(xmlhttp.response));
            }
        };
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({ productID:productID, variantID:variationID, quantity:setQuantity}));
        <%}%>
    }

</script>