

<%- include('main-page-aditionals/filters') -%>

<div id="pC">
    <div class="container  mt-3" >
        <% products.forEach(function (item, index) {
            if(item.primary_category_id===undefined)
                item.id=item.master.master_id;
        if(index%2===0&&index!==0){%>
    </div><div class="row" >
        <%}
        else if(index%2===0&&index==0){%>
        <div class="row" >
            <%}%>
            <div class="col-sm" id="<%=item.id%>">
                <div class="idP" style="display: none;"><%=item.id%></div>
                <h4><%=item.name%></h4>
                <div class="container" >
                    <div class="row">
                        <div class="col-sm">
                            <img src="/images/<%= item.img_path %>" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-sm">
                            <div class="container">
                                <div class="row">
                                    <p><%= item.short_description %></p>
                                </div>
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm">
                                                Price : $ <%= item.price %>
                                            </div>
                                            <div class="col-sm">
                                                <a class="btn btn-primary text-white" href="/subcategory/<%= item.primary_category_id %>/<%= item.id %>" role="button" >More details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <% });
            if((products.length-1)%2===0){%>
        </div>
        <%}%>
    </div>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary m-4" onclick="loadMoreProducts()" id="moreProducts">More Results</button>
</div>

<script>
    var productsInfo=[];
    var activeFilter=[];
    window.onload=getProductsInfo();

    function filterProducts(value, key, filterID, type='') {
        let fittingProducts=[];
        activeFilter=[value, key, filterID];
        productsInfo.forEach((product) => {
            let keep=false;

            product.variants.forEach((variant)=>{
                if (variant.variation_values.hasOwnProperty(filterID))
                    if(variant.variation_values[filterID]===key)
                        keep=true;
            })

            if(keep===true)
                fittingProducts.push(product);
        });
        if(type!=='more')
            document.getElementById("pC").innerHTML='';
        displayMore(fittingProducts);
    }

    function getProductsInfo() {
        url=window.location.pathname+'/info';
        let xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                let jsonObj = JSON.parse(xmlhttp.response);
                if(xmlhttp.status===200){
                    productsInfo=jsonObj;
                    // console.log(productsInfo);
                }
            }
        };
        xmlhttp.open("GET", url);
        xmlhttp.send();
    }
</script>