
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand  mr-0" href="#" target="_blank">Alibazon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse  navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto my-2">
                <% categories.forEach(function (item, index) {
                if (item.id===pressed.id) { %>
                <a class="btn btn-sm btn-outline-secondary text-white rounded-circle mr-1 active" href="#" role="button" ><%=item.name%></a>
                <% }
                else {%>
                <a class="btn btn-sm btn-outline-secondary text-white rounded-circle mr-1" href="/home/<%=item.id%>" role="button" ><%=item.name%></a>
                <%}
                });
                if(logged){%>
                    <button type="button" onclick="logout()" class="btn btn-light mr-1">LogOut</button>
                    <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#exampleModal" >
                        Profile
                    </button>
                <%}
                else {%>
                <a class="btn btn-sm btn-light mr-1" href="/auth/login" role="button" >LogIn</a>
                <%}%>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar -->

<!-- breadcrumbs-->
<div class="container-fluid"  style="margin-top: 60px; padding: 0px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <%
            breadcrumbs.path.forEach(function (item, index) { %>
            <li class="breadcrumb-item"><a href="<%= item.link %>"><%= item.title%></a></li>
            <%  });%>
            <li class="breadcrumb-item active" aria-current="page"><%=breadcrumbs.active%></li>
        </ol>
    </nav>
</div>
<!-- /breadcrumbs-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Name: <strong id="userNameProfile"></strong></p>
                <p>Email: <strong id="userEmailProfile"></strong></p>
                <p>Registered: <strong id="userDataProfile"></strong></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-warning mr-1" href="/cart/mycart" role="button" >Cart (<strong id="cartNumber"></strong>)</a>
                <a class="btn btn-sm btn-info mr-1" href="/wishlist/mywishlist" role="button" >Wish list (<strong id="wishlistNumber"></strong>)</a>
            </div>
        </div>
    </div>
</div>